.сух.листва-1 {
	color: #97770e, rgb(151, 119, 14);
}
.сух.листва-2 {
	color: #b09329, rgb(176, 147, 41);
}
.ствол-1 {
	color: #282012, rgb(40, 32, 18);
}
.ствол-2 {
	color: #170e08, rgb(23, 14, 8);
}
.ствол-3 {
	color: #100a02, rgb(16, 10, 2);
}
.небо-1 {
	color: #b5bac3, rgb(181, 186, 195);
}
.небо-2 {
	color: #919cad, rgb(145, 156, 173);
}
.небо-3 {
	color: #79879b, rgb(121, 135, 155);
}
.небо-4 {
	color: #596a85, rgb(89, 106, 133);
}
.небо-5 {
	color: #3a4f68, rgb(58, 79, 104);
}
.пасмурно-1 {
	color: #4c4e56, rgb(76, 78, 86);
}
.пасмурно-2 {
	color: #757880, rgb(117, 120, 128);
}
.пасмурно-3 {
	color: #8f9099, rgb(143, 144, 153);
}
.гора-1 {
	color: #dfbfa1, rgb(223, 191, 161);
}
.гора-2 {
	color: #b38e6d, rgb(179, 142, 109);
}
.гора-3 {
	color: #373536, rgb(55, 53, 54);
}
.гора-4 {
	color: #2d2c2f, rgb(45, 44, 47);
}
.листва-1 {
	color: #213b1d, rgb(33, 59, 29);
}
.листва-2 {
	color: #172619, rgb(23, 38, 25);
}
.листва-3 {
	color: #060d0e, rgb(6, 13, 14);
}
.свеж.трава-1 {
	color: #839c32, rgb(131, 156, 50);
}
.свеж.трава-2 {
	color: #617a2f, rgb(97, 122, 47);
}
.свеж.трава-3 {
	color: #425c1c, rgb(66, 92, 28);
}
.мол.цветок-1 {
	color: #9fb173, rgb(159, 177, 115);
}
.мол.цветок-2 {
	color: #a3ab4f, rgb(163, 171, 79);
}
.красн.лист-1 {
	color: #291e2a, rgb(41, 30, 42);
}
.красн.лист-2 {
	color: #1e1921, rgb(30, 25, 33);
}
.сух.трава-1 {
	color: #565433, rgb(86, 84, 51);
}
.сух.трава-2 {
	color: #3b4029, rgb(59, 64, 41);
}
.сух.трава-3 {
	color: #433e2e, rgb(67, 62, 46);
}
.губы-1 {
	color: #9d6b81, rgb(157, 107, 129);
}
.губы-2 {
	color: #845d75, rgb(132, 93, 117);
}
.губы-3 {
	color: #6d5467, rgb(109, 84, 103);
}
.кожа-1 {
	color: #ab9bae, rgb(171, 155, 174);
}
.кожа-2 {
	color: #aa90a3, rgb(170, 144, 163);
}
.кожа-3 {
	color: #a37e93, rgb(163, 126, 147);
}
.кожа-4 {
	color: #9a778c, rgb(154, 119, 140);
}
.глаза-1 {
	color: #94a7bc, rgb(148, 167, 188);
}
.глаза-2 {
	color: #6888a3, rgb(104, 136, 163);
}
.глаза-3 {
	color: #516a89, rgb(81, 106, 137);
}
.глаза-4 {
	color: #51616f, rgb(81, 97, 111);
}
.волосы-1 {
	color: #344354, rgb(52, 67, 84);
}
.волосы-2 {
	color: #3a4455, rgb(58, 68, 85);
}
.волосы-3 {
	color: #464756, rgb(70, 71, 86);
}
.свитер-1 {
	color: #90657a, rgb(144, 101, 122);
}
.свитер-2 {
	color: #935972, rgb(147, 89, 114);
}
.свитер-3 {
	color: #3e6167, rgb(62, 97, 103);
}
.свитер-4 {
	color: #2b4c72, rgb(43, 76, 114);
}
.свитер-5 {
	color: #264862, rgb(38, 72, 98);
}
.свитер-6 {
	color: #5f6180, rgb(95, 97, 128);
}